main, body {
  background: #d0d0e4 url(./img/bg.png) repeat;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  background: #2c2b57 !important;
}

#gitHubSearch {
  margin-top: 3em;
  padding-bottom: 3em;
  background: #2b2a56 url(./img/waves.svg) bottom no-repeat;
  color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#mainsearch {
  border-radius: 6px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.text-muted {
  font-size: 80%;
  color: #9f9eb5 !important;
}

#userInfo {
  margin-top: 3em;
}

.card-header {
  background: white;
  border-bottom: none !important;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.card img {
  height: 75px;
  width: auto;
  margin-right: 5px;
}

.list-group-item {
  border-top: 0;
  padding: 1.5rem 1rem;
  opacity: 0;
}

.load {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.list-group-item .description {
  color: #898989;
  font-size: 90%;
  padding-top: 15px;
}

.list-group-item a {
  text-decoration: none;
}
